<div id="main-container" ng-controller = "aboutController">
    <div>
        <h1 class="content-header animated fadeInDown">About</h1>

        <hr class="charcoal animated fadeIn">
    </div>

    <div class="row featurette">
            <div id="agenode" class="col-md-7 animated fadeInLeft">
                <h2 class="featurette-heading">This<span class="text-muted"> is me!</span> </h2>
                <p class="lead">I am <age></age> seconds old (give or take)</p>

                <p>Outside of IT, I'm a huge sports fan! Soccer, Tennis, Golf, Rugby, GAA, American Football are amongst my favourites.</p>

                <p>I love to read. Everything from epic fantasy (LOTR, GOT, WoT) to historical novels by Beevor, Stephen Ambrose and Tim O'Brien.</p>

                <p>I like music, a mix of old and new. I've played guitar since I was 16.</p>

                <p>I'd watch the occasional movie. Also love a good TV series, The Wire, Sopranos, Band of Brothers, Breaking Bad, House of Cards (this list is in order).</p>

                <p>I'm a homebrewer. After a week of work, my treat is a good movie and a pale ale.</p>

                <p>I love travelling and seeing new places. I've been all over Europe and travelled extensively in Asia.</p>


            </div>

            <div id="facenode" class="col-md-5 animated fadeInDown">
              <img class="featurette-image img-responsive center-block" src="style/images/me.gif" alt="Me">
            </div>



     </div>
</div>
