<div id="main-container">
    <h1 class="content-header animated fadeInDown">Downloads</h1>

    <hr class="charcoal animated fadeIn">

    <div class="center-elements contact-text">

        <p>Here's my up to date CV in <a href="https://www.dropbox.com/s/zr4oz31fza4s3me/NiallShannonCV.pdf?dl=0">PDF</a>
            and <a href="https://www.dropbox.com/s/i0qtgrapnenjp1b/NiallShannonCV.doc?dl=0">doc</a> format.</p>

        </br>

        <p>This is the <a href="https://www.dropbox.com/s/pqfpy23tktfr76x/Metasearch_Evaluation.pdf?dl=0">documentation</a> that accompanied my metasearch engine software engineering project</p>

        </br>

<!--
        <p>This is a copy of my <a href="#" target="_blank">Oracle Java Certificate</a></p>

</br>

        <p>Here's the Javascript equivalent of the Oracle Java cert, the <a href="http://www.ciwcertified.com/certifications/web_development_series/javascript.php" target="_blank">CIW JavaScript Specialist Certificate</a></p>

</br>
-->

        <p>You can download pieces of code from various projects I've worked on from my <a href="https://github.com/shanahobo/" target="_blank">github repository</a></p>

    </div>
</div>
